@import 'tailwindcss';
@import '@bobbykim/manguito-theme/mcl-theme-v4.css';
@source "../../../node_modules/@bobbykim";

@theme {
  /* Custom animations */
  --animate-balls: balls 5s infinite;

  /* Custom keyframes */
  @keyframes balls {
    0%,
    100% {
      transform: translate(0px, 0px) scale(1);
    }
    33% {
      transform: translate(30px, -50px) scale(1.1);
    }
    66% {
      transform: translate(-20px, 20px) scale(0.9);
    }
  }

  /* Custom font families */
  --font-family-inter: Inter, sans-serif;
  --font-family-marker: 'Permanent Marker', cursive;
}
